// body-color
$body-color:#071629;

// color
$primary-color: #FFDA30;

// font-color
$darker-color:#000000;
$dark-color: #A6A6A6;
$light-color:#D3D3D3;
$lighter-color:#FFFFFF;

// font-family
$primary-family:'Noto Sans', sans-serif;




body{
    background: $body-color;
    color:$lighter-color;
    font-family: $primary-family;
}